<!-- wp:template-part {"slug":"header","theme":"evit-fse","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">
	<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"evit-fse"} /-->